body{
    background-color: white;
    font-family: -apple-system, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.apple-card{
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: none;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8);
    padding: 40px;
    max-width: 400px;
    width: 100;
}

.btn-apple{
    background-color: #0071e3;
    color: white;
    border-radius: 12px;
    padding: 10px 20px;
    font-weight: 500;
    transition: all 0.3s ease;
    border: nome;
}

.btn-apple :hover{
    background-color: #0077ed;
    color: antiquewhite;
}

.form-control{
    border-radius: 12px;
    border: 1px solid #d2d2d7;
    padding: 12px;
}

h2{
    font-weight: 600;
    color: #1dd1df;
    padding: 12px;
}